<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <img style="border:3px solid #ebeff5; border-radius: 50%" src="img/profile_bw.JPG" width="40%" height="40%">
                <br></br>
                <p class="text-faded">I'm Falko Buschke, a macroecologist and conservation biologist working as a Science for Policy Officer at the European Commission's <a href = "https://ec.europa.eu/jrc/en" style="color:#f2b13f;">Joint Research Centre</a>. In this role, I work at the science-policy interface on the Biodiversity and Protected Areas Management (<a href = "https://biopama.org/" style="color:#f2b13f;"> BIOPAMA</a>) Programme. Prior to this, I contributed to the Commission's <a href = "https://africa-knowledge-platform.ec.europa.eu/" style="color:#f2b13f;"> Africa Knowledge Plaform.</a></p>
                <p class="text-faded">I have a PhD from <a href = "https://www.kuleuven.be/english/" style="color:#f2b13f;"> KU Leuven, Belgium</a> and spent seven years between 2015 and 2021 as a Senior Lecturer at the <a href = "https://www.ufs.ac.za" style="color:#f2b13f;"> University of the Free State, South Africa.</a> I specialise in understanding how the spatial temporal distribution of biodiversity affects conservation and management.</p>
                <p class="text-faded">I am a voluntary collaborating researcher at the <a href = "https://bio.kuleuven.be/eeb" style="color:#f2b13f;"> Ecology, Evolution and Biodiversity Conservation Section at the KU Leuven</a>, and a member of the editorial board for the journal <a href = "https://conbio.onlinelibrary.wiley.com/hub/journal/15231739/homepage/editorialboard.html" style="color:#f2b13f;"> Conservation Biology.</a> To keep my work policy-relevant, I am a member of the <a href = "https://www.iucn.org/commissions/commission-ecosystem-management/our-work/cems-thematic-groups/impact-mitigation-and-ecological-compensation-0" style="color:#f2b13f;"> Impact Mitigation and Ecological Compensation (IMEC)</a> working group of the <a href = "https://www.iucn.org/commissions/commission-ecosystem-management" style="color:#f2b13f;"> IUCN Commission on Ecosystem Management.</a></p>
                </div>
        </div>
    </div>
</section>
