<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <img style="border:3px solid #ebeff5; border-radius: 50%" src="img/profile_fb.JPG" width="40%" height="40%">
                <br></br>
                
<p class="text-faded"> I’m Falko Buschke, a biodiversity and ecosystem services specialist based in South Africa. I can help you use scientific data in your international development cooperation programme so that it aligns with the Global Biodiversity Framework. </p>

<p class="text-faded"> Before becoming an independent scientist, I spent 2 years at the European Commission <a href = "https://ec.europa.eu/jrc/en" style="color:#F3C623;">Joint Research Centre</a> in Italy, where I was the focal point for Eastern and Southern Africa in the Biodiversity and Protected Areas Management Programmer (<a href = "https://biopama.org/" style="color:#F3C623;">BIOPAMA</a>). This built on a PhD from <a href = "https://www.kuleuven.be/english/" style="color:#F3C623;"> KU Leuven </a>, Belgium, 7 years in academia at the <a href = "https://www.ufs.ac.za" style="color:#F3C623;"> University of the Free State</a>, South Africa, and 2 years as a freelancer for <a href = "https://gopacom.eu/" style="color:#F3C623;"> GOPA Com. </a>contributing to the European Commission’s <a href = "https://africa-knowledge-platform.ec.europa.eu/" style="color:#F3C623;"> Africa Knowledge Plaform.</a></p>

<p class="text-faded"> I also volunteer as a handling editor for the scientific journal <a href = "https://conbio.onlinelibrary.wiley.com/journal/15231739" style="color:#F3C623;"> Conservation Biology</a>, and as member of the <a href = "https://www.iucn.org/commissions/commission-ecosystem-management/our-work/cems-thematic-groups/impact-mitigation-and-ecological-compensation-0" style="color:#F3C623;"> Impact Mitigation and Ecological Compensation (IMEC)</a> working group of the <a href = "https://www.iucn.org/commissions/commission-ecosystem-management" style="color:#F3C623;"> IUCN Commission on Ecosystem Management.</a></p>
                 </div>
        </div>
    </div>
</section>
