<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <img src="img/profile.jpg" width="60%" height="60%">
                <br></br>
                <p class="text-faded">I'm Falko Buschke, a South African macroecologist and conservation biologist. I have a PhD from <a href = "https://www.kuleuven.be/english/" style="color:#020445;"> KU Leuven, Belgium</a> and am currently a Senior Lecturer at the <a href = "https://www.ufs.ac.za" style="color:#020445;"> University of the Free State, South Africa</a>.</p>
                </div>
        </div>
    </div>
</section>
