<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <img style="border:5px solid ##fcfcfc;" src="img/profile.jpg" width="60%" height="60%">
                <br></br>
                <p class="text-faded">I'm Falko Buschke, a macroecologist and conservation biologist. I have a PhD from <a href = "https://www.kuleuven.be/english/" style="color:#020445;"> KU Leuven, Belgium</a> and am currently a Senior Lecturer at the <a href = "https://www.ufs.ac.za" style="color:#020445;"> University of the Free State, South Africa.</a> I specialise in understanding how the spatial temporal distribution of biodiversity affects conservation and management.</p>
                <p class="text-faded">I am a voluntary collaborating researcher at the <a href = "https://bio.kuleuven.be/eeb" style="color:#020445;"> Ecology, Evolution and Biodiversity Conservation Section at the KU Leuven</a>, and a member of the editorial board for the journal <a href = "https://conbio.onlinelibrary.wiley.com/hub/journal/15231739/homepage/editorialboard.html" style="color:#020445;"> Conservation Biology.</a> I try to make my research useful for policy, so I am a member of the <a href = "https://www.iucn.org/commissions/commission-ecosystem-management/our-work/cems-thematic-groups/impact-mitigation-and-ecological-compensation-0" style="color:#020445;"> Impact MItigation and Ecological Compensation (IMEC)</a> working group of the <a href = "iucn.org/commissions/commission-ecosystem-management" style="color:#020445;"> IUCN Commission on Ecosystem Management.</a></p>
                </div>
        </div>
    </div>
</section>
