<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="experience/mitigation" class="portfolio-box">
                    <img src="img/portfolio/mitigate.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mitigation
                            </div>
                            <div class="project-name">
                                Biodiversity offsets and ecological compensation
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="https://www.w3schools.com/">Visit W3Schools.com!</a> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="experience/serial" class="portfolio-box">
                    <img src="img/portfolio/serial.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Farming and biodiversity
                            </div>
                            <div class="project-name">
                                Biodiversity in agricultural landscapes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="experience/macroecology" class="portfolio-box">
                    <img src="img/portfolio/macro.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Macroecology
                            </div>
                            <div class="project-name">
                                Distributions of African vertebrates
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="experience/implementation" class="portfolio-box">
                    <img src="img/portfolio/implement.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Implementation
                            </div>
                            <div class="project-name">
                                Improving conservation implementation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="experience/climate" class="portfolio-box">
                    <img src="img/portfolio/climate.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Climate change
                            </div>
                            <div class="project-name">
                                Impact of climate change on aquatic systems
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="experience/mainstreaming" class="portfolio-box">
                    <img src="img/portfolio/mainstream.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mainstreaming
                            </div>
                            <div class="project-name">
                                Considering biodiversity in multisectoral development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
