<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://portals.iucn.org/library/node/51517" class="portfolio-box">
                    <img src="img/portfolio/sopaca.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                African protected areas
                            </div>
                            <div class="project-name">
                                Led the chapter on ecosystem services for the 2nd edition of the State of Protected and Conserved Areas report for Eastern and Southern Africa. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://doi.org/10.1038/s41559-023-02226-2" class="portfolio-box">
                    <img src="img/portfolio/data.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Biodiversity information systems
                            </div>
                            <div class="project-name">
                                Produced policy guidance for making biodiversity information fit for national decision-makers, in coordination with partners from 20 international organisations.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://doi.org/10.1038/s41559-020-1177-7" class="portfolio-box">
                    <img src="img/portfolio/resilience.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ecological limits to biodiversity offsetting
                            </div>
                            <div class="project-name">
                                Developed multiple GIS- and simulation-based models to understand how ecological thresholds determine the feasibility of no-net loss and nature positive outcomes.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://doi.org/10.1038/s41559-021-01494-0" class="portfolio-box">
                    <img src="img/portfolio/lpi.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Biodiversity metrics and indicators
                            </div>
                            <div class="project-name">
                                Stress-tested how global biodiversity indicators (Living Planet Index and the Red List Index) handle ecological uncertainty and randomness.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://publications.jrc.ec.europa.eu/repository/handle/JRC127569" class="portfolio-box">
                    <img src="img/portfolio/jrc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Science diplomacy
                            </div>
                            <div class="project-name">
                                Analysed two decades of data on scientific collaboration to inform the European Commission’s scientific policies on Africa.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://doi.org/10.1111/cobi.12340 " class="portfolio-box">
                    <img src="img/portfolio/startup.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Conservation entrepreneurship
                            </div>
                            <div class="project-name">
                                Explored ways of incubating conservation startups to become economically self-sustaining.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
