<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Professional skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary"></i>
                    <h3>Ecological research</h3>
                    <p class="text-muted">Drivers of multi-species coexistence in terrestrial and freshwater systems.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Biodiversity mapping</h3>
                    <p class="text-muted">Conservation GIS and remote sensing from local to global scales.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Ecological modelling</h3>
                    <p class="text-muted">Custom algorithms to simulate and analyse multidimensional data.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bank wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Policy support</h3>
                    <p class="text-muted">Translating science for real-world implementation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
